#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title { 
  font-size: 50px; 
  font-weight: bold; 
  color: beige; 
  margin: 0; 
  padding: 0;
}

.C1 {
  display: flex; 
  text-align: center; 
  flex-direction: column; /* Ensures child elements are stacked vertically */
  align-items: center; /* Aligns child elements to the left */
  justify-content: center; /* Pushes items to the top of the container */
  width: 100%; /* Make the parent container span the full width */
  height: 100%; /* Full viewport height */
  gap: 10px; 
}
