html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensures the elements stretch to the full height */
  width: 100%; /* Ensures the elements stretch to the full width */
  box-sizing: border-box; /* Prevents issues with padding/margin calculations */
  background-color: rgb(35, 34, 34);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
